﻿@model IEnumerable<BookingHotel.Models.Phong>

<section class="section bg-light">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-7">
                <h2 class="heading" data-aos="fade">Great Offers</h2>
                <p data-aos="fade">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
            </div>
        </div>
        @foreach (var item in Model)
        {
        <div class="site-block-half d-block d-lg-flex bg-white" data-aos="fade" data-aos-delay="200">
            <a href="@Url.Action("Detail","Room",new {id= @item.maPhong})" class="image d-block bg-image-2 order-2" style="background-image: url('@Url.Content("~/images/"+ item.Image)" height="350" width="300');"></a>
            <div class="text order-1">
                <span class="d-block mb-4"><span class="display-4 text-primary">$@item.giaPhong</span> <span class="text-uppercase letter-spacing-2">/ per night</span> </span>
                <h2 class="mb-4">@item.tenPhong</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                <p><a  href="@Url.Action("Detail",new {id= @item.maPhong})" class="btn btn-primary text-white">Book Now</a></p>
            </div>
        </div>
        }
    </div>
</section>