﻿@model BookingHotel.Models.NhanVien
@{
    ViewBag.Title = "profile";
    Layout = "~/Views/Shared/_MainAdmin.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="row">


            <div class="col-md-9">

                <div class="row">

                    @*<div style="border:1px solid #ccc">*@
                    <div class="container">
                        <h5 style="text-align:center"><b>Thông tin cá nhân</b></h5>
                        <div class="form-icon">
                            <center><img src="https://image.flaticon.com/icons/png/512/1077/1077012.png" width="60" height="60" /></center>
                        </div>
                        @*<h3 class="text-center text-danger">@ViewBag.ketqua</h3>*@
                        <br />
                        <div class="form-group">
                            <label>Tên người dùng </label>
                            <input name="name" type="text" class="form-control item" id="hoten" value="@Model.tenNV" readonly="true">
                        </div>
                        <div class="form-group">
                            <label>Tên đăng nhập </label>
                            <input name="user" type="text" class="form-control item" id="username" value="@Model.DangNhaps.FirstOrDefault(p=>p.maNV==Model.maNV).userName" readonly="true">
                        </div>
                        @*<div class="form-group">
                                <label>Email </label>
                                <p class="text-danger" style="display:flex">@ViewBag.loiemail</p>
                                <input name="email" type="text" class="form-control item" id="email" value="@Model.Gmail">

                            </div>*@
                        <div class="form-group">
                            <label>Số điện thoại </label>
                            <p class="text-danger" style="display:flex">@ViewBag.loisdt</p>
                            <input name="phone" type="text" class="form-control item" id="phone-number" value="@Model.Sdt">

                        </div>
                        <div class="form-group">
                            <label>Địa chỉ </label>
                            <p class="text-danger" style="display:flex">@ViewBag.loidc</p>
                            <input name="address" type="text" class="form-control item" id="address" value="@Model.diaChi">

                        </div>
                        <div class="form-group">
                            <center> <label> Xác nhận mật khẩu </label></center>
                            <p class="text-danger" style="display:flex">@ViewBag.loipass</p>
                            <input name="pass" type="password" class="form-control item" id="password" placeholder="Mật khẩu">

                        </div>
                        <br />
                        <div class="form-group">

                            <button type="submit" class="btn btn-block btn-danger">Cập nhật tài khoản</button>
                            <br />
                            @*<a type="button" class="btn btn-block btn-danger" href="@Url.Action("Index","foodhome")" style="text-decoration: none"> Trở về trang chủ</a>*@
                        </div>
                    </div>
                    @*</div>*@

                </div>
            </div>
        </div>
    </div>
}

