﻿@model BookingHotel.Models.Phong
@{
    ViewBag.Title = "DeleteP";
    Layout = "~/Views/Shared/_MainAdmin.cshtml";
}

<h3 style="color:red">Xác nhận xóa?</h3>
@Html.ActionLink("Quay về quản lý món", "PhongR")
<div>
    <hr />
    <dl class="dl-horizontal">
        @Html.HiddenFor(model => model.maPhong)
        <dt>
            Loại Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiPhong.tenLoai)
        </dd>

        <dt>
            Tên Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenPhong)
        </dd>

        <dt>
            Hình ảnh
        </dt>

        <dd>
            <img src="@Url.Content("~/images/"+Model.Image)" width="250" height="250" />

        </dd>

        <dt>
            Mô Tả Phòng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Describe)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.FStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FStatus)
            </dd>*@

        <dt>
            Giá Phòng
        </dt>

        <dd>
            @string.Format("{0:0,0}", Model.giaPhong) VNĐ
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            <input type="submit" value="Xóa Phòng" class="btn btn-warning" />

        </div>
    }
</div>

