﻿@model BookingHotel.Models.Phong
@{
    ViewBag.Title = "EditPhongR";
    Layout = "~/Views/Shared/_MainAdmin.cshtml";
}


<div>
    @Html.ActionLink("Quay về quản lý Phòng", "PhongR")
</div>

@using (Html.BeginForm("EditPhongR", "QLPhong", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.maPhong)

        <div class="form-group">
            @Html.LabelFor(model => model.tenPhong, "Tên Phòng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.tenPhong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tenPhong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Image, "Hình ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.Fimage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Fimage, "", new { @class = "text-danger" })*@
                <input type="file" name="fileupload" />
                <img src="@Url.Content("~/images/"+Model.Image)" width="250" height="250" /> (Ảnh hiện tại)

                @ViewBag.ThongBao
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Describe, "Mô tả", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Describe, 5, 100, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Describe, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.giaPhong, "Giá Phòng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.giaPhong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.giaPhong, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.maLoai, "Loại Phòng", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("maLoai", new SelectList(Model.listPhong, "maLoai", "tenLoai"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.maLoai, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu cập nhập" class="btn btn-danger" />
            </div>
        </div>
    </div>

    <div>
        @Html.ActionLink("Quay về danh sách phòng", "Phong")
    </div>

}

