﻿@using BookingHotel.Models;
@using PagedList.Mvc;

@model PagedList.PagedList<BookingHotel.Models.Phong>
@{
    ViewBag.Title = "PhongR";
    Layout = "~/Views/Shared/_MainAdmin.cshtml";
}

@helper Truncate(string input, int length)
{
    if (input.Length < length || string.IsNullOrEmpty(input))
    {
        @input
    }
    else
    {
        @input.Substring(0, length) <text>...</text>
    }
}
<br />
<p>
    <button type="submit" class="btn btn-success" style="font-weight">@Html.ActionLink("Thêm phòng mới", "CreateNew")</button>
</p>
<table class="table" style="border-radius:10px">
    <tr style="background-color:lightgray">
        <th>
            <b><label>Loại Phòng</label></b>
        </th>
        <th>
            <b> <label>Tên Phòng</label></b>
        </th>
        <th>
            <b><label>Hình ảnh</label></b>
        </th>
        <th>
            <b> <label>Mô tả</label></b>
        </th>
        <th>
            <b><label>Giá Phòng</label></b>
        </th>
        <th></th>
    </tr>
    @{
        int row = 1;

    }
    @foreach (var item in Model)
    {
        <tr style="background-color:seashell; border-bottom-width:2px; border-style:solid; height:50px">
            <td>
                @Html.DisplayFor(modelItem => item.LoaiPhong.tenLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tenPhong)
            </td>
            <td>
                <img src="@Url.Content("~/images/"+ item.Image)" height="100" width="100" />
            </td>
            <td id="content_@row">
                @Truncate(item.Describe, 50)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.FStatus)
                </td>*@
            <td>
                @string.Format("{0:0,0}", item.giaPhong)$
            </td>
            <td>
                @Html.ActionLink("Sửa", "EditPhongR", new { id = item.maPhong }) |
                @*@Html.ActionLink("Chi tiết", "DetailsFood", new { id = item.maPhong }) |*@
                @Html.ActionLink("Xóa", "DeleteP", new { id = item.maPhong })
            </td>
        </tr>
        row++;
    }
</table>

Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("PhongR", new { page = page }))
</div>

@*Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    <div  style="display:flex">
        @Html.PagedListPager(Model, page => Url.Action("Phong", new { page = page }))
    </div>*@

<script>
    var index = @row;
    //function swaps() {

    //    for (let i = 1; i <= index; i++) {
    //        alert(i);
    //        if (document.getElementById("content_"+i).innerText.length > 2) {
    //            var swap = document.getElementById("content_"+i).innerText;
    //            swap = swap.slice(0, 2) + "...";
    //        }
    //    }

    //};

    //datatable
    $(function () {
        alert("1234")

    });
</script>