﻿@model BookingHotel.Models.Phong
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resort booking form</title>
    @*<link rel="stylesheet" href="style.css">*@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            background-image: url(/Asset/images/bk2.jpg);
            background-position: center;
            background-size: auto;
        }

        #form {
            background-color: #000;
            height: 500px;
            width: 800px;
            margin: auto;
            margin-top: 100px;
            opacity: 0.7;
        }

        #first-group {
            border: none;
            width: 400px;
            margin-top: 38px;
            position: absolute;
        }

        #content {
            border: 1px solid #fff;
            margin: 10px;
            margin-left: 8px;
            padding: 5px;
        }

            #content #input-group {
                border: none;
                outline: none;
                background: transparent;
                margin-left: 8px;
                width: 300px;
                color: #fff;
            }

        ::placeholder {
            color: #fff;
        }

        .fa {
            display: inline-block;
            color: red;
            border-right: 1px solid #fff;
            padding: 8px;
            margin-left: 8px;
        }

        #second-group {
            border: none;
            width: 400px;
            margin-top: 55px;
            margin-left: 400px;
        }

        #submit-btn {
            margin-top: 30px;
            margin-left: 600px;
            background: transparent;
            color: #fff;
            width: 150px;
            border: 1px solid red;
            outline: none;
            padding: 10px;
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm())
        {

            <div class="form-group">

                <div id="form">
                    <h1 class="text-white text-center">Booking Now - @Model.maPhong</h1>
                    <h6 class="text-white text-center"> $@Model.giaPhong/ Pernight</h6>
                    <div id="first-group">

                        <div id="content">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input type="text" id="input-group" placeholder="First name" name="hoKH" required>
                        </div>

                        <div id="content">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <input type="number" id="input-group" placeholder="Phone number" name="Sdt" required>
                        </div>
                        <!--gfgfgf-->
                        <!--gfgfgf-->
                        <div id="content">
                            <i class="fa fa-calendar"></i>
                            <input type="date" style="background-color:transparent; color:white; border:none" id="ngayNhan" name="ngayNhan" required>
                        </div>

                        <div id="content">
                            <i class="fa fa-users" aria-hidden="true"></i>
                            <select id="input-group" style="background-color: black;" name="soNguoi" required>
                                <option value="">No.of guests</option>
                                <option value="1-5">1-5</option>
                                <option value="6-10">6-10</option>
                                <option value="11-20">11-20</option>
                            </select>
                        </div>

                    </div>

                    <div id="second-group">

                        <div id="content">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input type="text" id="input-group" placeholder="Last name" name="tenKH" required>
                        </div>

                        <div id="content">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <input type="email" id="input-group" placeholder="Email" name="Email" required>
                        </div>

                        <div id="content">
                            <i class="fa fa-calendar"></i>
                            <input type="date" style="background-color:transparent; color:white; border:none" onchange="Booking()" id="ngayTra" name="ngayTra" required>
                        </div>

                        <div id="content">
                            <i class="fa fa-home" aria-hidden="true"></i>
                            <input type="text" id="input-group" placeholder="Address" name="diaChi" required>
                        </div>
                        <!--sd-->
                        <div id="content" style="border:none; display:flex">
                            @*<p style="color:white" name="Tongtien">Tong tien: $@Model.giaPhong</p>*@
                            <label style="color:white; font-size:20px; padding-top:8px">Total:</label>
                            <input onselect="false" readonly style="border:none; width:150px; height:auto; background-color:transparent; color:white" type="text" id="total" name="Tongtien" value="$@Model.giaPhong">
                        </div>
                        <!--gh-->
                    </div>
                    <div style="display:flex ; width:100% ; height:auto">
                       
                            <a type="button" style=" width:30%; height:60px ; margin-left:1%; background-color:transparent; border-color:red; border-style:solid; border-width:2px; color:white; font-size:20px; padding-top:13px" class="btn" href="@Url.Action("Index","Home")">Home</a>
                        
                        
                            <button type="submit" style="margin-left:38% ; width:30% ; height:60px; margin-right:1%; background-color:transparent; border-color:red; border-style:solid; border-width:2px; color:white; font-size:20px"  formaction="@Url.Action("addcart","Booking",new { id = Model.maPhong})">Book Now</button>
                        
                    </div>
                    

                </div>
            </div>
        }
    </div>
    <h2 style="text-align:center ;  padding-top:100px ; color:red">@TempData["thanhtoan"]</h2>
</body>

</html>
<script>
    

    let valuegp = @Model.giaPhong; 
    function Booking() {
        
        const start = new Date(document.getElementById("ngayNhan").value) //clone
        const end = new Date(document.getElementById("ngayTra").value) //clone
            let dayCount = 0
                while (end > start)
                {
                dayCount++
                start.setDate(start.getDate() + 1)
        }
       
        document.getElementById("total").value = "$" + dayCount * valuegp
        
            }

        </script>

@*<script>
        function Booking() {
            ajax({
                url: '/Booking/addcart',
                type: "get",
                data: { getfalid },
                success: function (valuert) {
                    alert(valuert)
                }, error: function (err) {

                }
            });

        }

    </script>*@