﻿@model IEnumerable<BookingHotel.ObjectView.Thongtin>
@{
    ViewBag.Title = "Danhsachdatphong";
    Layout = "~/Views/Shared/_MainAdmin.cshtml";
}

<h2>Danh Sách Đặt Phòng</h2>
<table class="table" style="border-radius:10px">
    <tr style="background-color:lightgray">
        <th>
            STT
        </th>
        <th>
            Họ Tên
        </th>
        <th>
            SDT
        </th>
        <th>
            Email
        </th>
        <th>
            Mã Phòng
        </th>
        <th>
            Số Ngày
        </th>
        <th>
            Số Tiền
        </th>
        <th>
            Trạng Thái
        </th>
        <th style="width:100px">
            Thao Tác
        </th>
        @*aaaaa*@
        <th style="width:100px">
            
        </th>
    </tr>
    @{
        int row = 1;

    }
    @foreach (var item in Model)
    {
    <tr style="background-color:seashell; border-bottom-width:2px; border-style:solid; height:50px">
        <td>
            @row
        </td>
        <td>
            @item.Hoten
        </td>
        <td>
            @item.SDT
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.MaPhong
        </td>
        <td>
            @item.SoNgay
        </td>
        <td>
            @item.Tongtien
        </td>
        @if (item.TrangThai == true)
        {
            <td>
                Đã thanh toán
            </td>
        }
        else
        {
            <td>
                Chưa thanh toán
            </td>
        }
        <td>
            <a type="button" class="btn btn-success" href="@Url.Action("Xacnhan","Xacnhan", new { MaPhieu=item.MaDK})">Xác Nhận</a>
        </td>
        @*sdsadsad*@
        <td>
            <a type="button" class=" btn btn-danger" id="Delete" onclick="xacnhanxoa(@item.MaDK)" @*href="@Url.Action("Delete","XacNhan",new { id=item.MaDK})"*@>Hủy Bỏ</a>
        </td>

    </tr>
        row++;
    }
</table>

<script>
    function xacnhanxoa(id)
    {
        if ( confirm("Bạn có muốn xóa bản ghi này?")) {

            alert("Bạn đồng ý xóa");
            location.href = "/XacNhan/Delete/" + id; 
        } else {
            alert("Bạn không xóa");
        }
    }      
</script>

