﻿@model IEnumerable<BookingHotel.ObjectView.Thongtin>
@{
    ViewBag.Title = "Thongke";
    Layout = "~/Views/Shared/_MainAdmin.cshtml";
}


<table class="table" style="border-radius:10px">
    <tr style="background-color:lightgray">
        <th>
            STT
        </th>
        <th>
            Họ Tên
        </th>
        <th>
            SDT
        </th>
        <th>
            Email
        </th>
        <th>
            Mã Phòng
        </th>
        <th>
            Số Ngày
        </th>
        <th>
            Số Tiền
        </th>
        <th>
            Trạng Thái
        </th>
        <th style="width:100px">
            Thao Tác
        </th>
    </tr>
    @{
        int row = 1;

    }
    @foreach (var item in Model)
    {
        <tr style="background-color:seashell; border-bottom-width:2px; border-style:solid; height:50px">
            <td>
                @row
            </td>
            <td>
                @item.Hoten
            </td>
            <td>
                @item.SDT
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.MaPhong
            </td>
            <td>
                @item.SoNgay
            </td>
            <td>
                @item.Tongtien
            </td>
            @if (item.TrangThai == true)
            {
                <td>
                    Đã thanh toán
                </td>
            }
            else
            {
                <td>
                    Chưa thanh toán
                </td>
            }
            @if (item.TrangThai != true) {
                <td>
                    <a type="button" class="btn btn-danger" href="@Url.Action("thanhtoan","xacnhan", new { MaPhieu=item.MaDK})">Thanh Toán</a>
                </td>
            }
            

        </tr>
        row++;
    }
</table>

