﻿@model IEnumerable<BookingHotel.Models.LoaiPhong>
@{
    ViewBag.Title = "LoaiPhong";
    Layout = "~/Views/Shared/_MainAdmin.cshtml";
}

<h2>LoaiPhong</h2>
div class="shopping-cart">
<div class="px-4 px-lg-0">
    <div class="pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

                    @using (Html.BeginForm("ThemLoaiPhong", "QLLoaiPhong", FormMethod.Post))
                    {
                        <div class="form-horizontal">
                            <div class="col-md-auto">
                                <input type="text" name="maloai" id="maloai" class="input-lg" placeholder="Nhập mã loại phòng..." required />
                                <input type="text" name="tenloai" id="tenloai" class="input-lg" placeholder="Nhập loại phòng..." required />
                                @if (ViewBag.Error != null)
                                {
                                    @ViewBag.Error
                                }
                                <button type="submit" class="btn btn-success" style="font-weight:bold">Thêm loại phòng</button>
                            </div>
                        </div>
                    }
                    <hr style="padding-bottom:20px" />
                    <!-- Shopping cart table -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" class="border-0">
                                        <div class="p-2 px-3 text-uppercase">Mã loại</div>
                                    </th>
                                    <th scope="col" class="border-0">
                                        <div class="p-2 text-uppercase">Tên loại phòng</div>
                                    </th>
                                    <th scope="col" class="border-0">
                                        <div class="p-2 text-uppercase">Trạng thái</div>
                                    </th>
                                    <th>

                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="align-middle"><strong>@item.maLoai</strong></td>
                                        <td class="align-middle">
                                            <strong>@item.tenLoai</strong>
                                        </td>
                                        <td class="align-middle">
                                            <strong>@item.PStatus</strong>
                                        </td>
                                        <td>
                                            @Html.ActionLink("Sửa", "EditPhong", new { id = item.maLoai })
                                        </td>
                                        @using (Html.BeginForm("DeletePhong", "QLLoaiPhong", new { id = item.maLoai }))
                                        {
                                            <td class="align-middle">
                                                <button type="submit" class="btn btn-danger" style="font-weight:bold"> Ẩn / Khôi phục</button>
                                            </td>
                                        }

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>
</div>
        </div>

