﻿@{
    ViewBag.Title = "Contact";
}

<!-- END section -->
<section class="section contact-section" id="next">
    <div class="container">
        <div class="row">
            <div class="col-md-7" data-aos="fade-up" data-aos-delay="100">

                
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d244.9122854144438!2d106.77264921344286!3d10.842153990991989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175270bbb6dc893%3A0xeed628d36927cf48!2zODMgUXVhbmcgVHJ1bmcsIEhp4buHcCBQaMO6LCBRdeG6rW4gOSwgVGjDoG5oIHBo4buRIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1639640886351!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                
            </div>
            <div class="col-md-5" data-aos="fade-up" data-aos-delay="200">
                <div class="row">
                    <div class="col-md-10 ml-auto contact-info">
                        <p><span class="d-block">Address:</span> <span> 83 Quang Trung, Hiep Phu Ward, District 9 </span></p>
                        <p><span class="d-block">Phone:</span> <span> (+84) 386 111 221</span></p>
                        <p><span class="d-block">Email:</span> <span> t2dbookinghotel@gmail.com</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section testimonial-section bg-light">
    <div class="container">
        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-7">
                <h2 class="heading" data-aos="fade-up">People Says</h2>
            </div>
        </div>
        <div class="row">
            <div class="js-carousel-2 owl-carousel mb-5" data-aos="fade-up" data-aos-delay="200">

                <div class="testimonial text-center slider-item">
                    <div class="author-image mb-3">
                        <img src="~/Asset/images/duy1.jpg" alt="Image placeholder" class="rounded-circle mx-auto">
                    </div>
                    <blockquote>
                        <p>&ldquo;A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.&rdquo;</p>
                    </blockquote>
                    <p><a href="https://www.facebook.com/duy.mai.313924" target="_blank"><em>&mdash; Mai Duy</em></a></p>
                </div>
                <div class="testimonial text-center slider-item">
                    <div class="author-image mb-3">
                        <img src="~/Asset/images/thanh.jpg" alt="Image placeholder" class="rounded-circle mx-auto">
                    </div>
                    <blockquote>
                        <p>&ldquo;Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.&rdquo;</p>
                    </blockquote>
                    <p><a href="https://www.facebook.com/LT.SeiyuKenji" target="_blank"><em>&mdash; Le Thanh</em></a></p>
                </div>
                <div class="testimonial text-center slider-item">
                    <div class="author-image mb-3">
                        <img src="~/Asset/images/duyl.jpg" alt="Image placeholder" class="rounded-circle mx-auto">
                    </div>
                    <blockquote>
                        <p>&ldquo;When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.&rdquo;</p>
                    </blockquote>
                    <p><a href="https://www.facebook.com/elyyud" target="_blank"><em>&mdash; Duy Le</em></a></p>
                </div>

                
            </div>
            <!-- END slider -->
        </div>
    </div>
</section>


