﻿@model BookingHotel.Models.Phong
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
    <link href="~/assetdetail/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="~/assetdetail/css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="~/assetdetail/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function () {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function () {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function () {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>
    <!----details-product-slider--->
    <!-- Include the Etalage files -->
    <link rel="stylesheet" href="~/assetdetail/css/etalage.css">
    <script src="~/assetdetail/js/jquery.etalage.min.js"></script>
    <!-- Include the Etalage files -->
    <script>
        jQuery(document).ready(function ($) {

            $('#etalage').etalage({
                thumb_image_width: 300,
                thumb_image_height: 400,

                show_hint: true,
                click_callback: function (image_anchor, instance_id) {
                    alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor + '"\n(in Etalage instance: "' + instance_id + '")');
                }
            });
            // This is for the dropdown list example:
            $('.dropdownlist').change(function () {
                etalage_show($(this).find('option:selected').attr('class'));
            });

        });
    </script>
    <!----//details-product-slider--->
</head>
<body>
    <div class="main">
        <div class="shop_top">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 single_left">
                        <div class="single_image">
                            <ul id="etalage">
                                <li>
                                    <a href="optionallink.html">
                                        <img class="etalage_thumb_image" src="@Url.Content("~/images/"+ Model.Image)" width="300" height="300" />
                                        <img class="etalage_source_image" src="@Url.Content("~/images/"+ Model.Image)" height="300" width="300" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- end product_slider -->
                        <div class="single_right">
                            <h3>@Model.tenPhong </h3>
                            <p class="m_10">@Model.Describe</p>
                           
                            
                            <div class="social_buttons">
                                <h4>95 Items</h4>
                                <button type="button" class="btn1 btn1-default1 btn1-twitter">
                                    <i class="icon-twitter"></i> Twitter
                                </button>
                                <button type="button" class="btn1 btn1-default1 btn1-facebook" onclick="">
                                    <i class="icon-facebook"></i> FaceBook
                                </button>
                                <button type="button" class="btn1 btn1-default1 btn1-google" onclick="">
                                    <i class="icon-google"></i> Google
                                </button>
                                <button type="button" class="btn1 btn1-default1 btn1-pinterest" onclick="">
                                    <i class="icon-pinterest"></i> Pinterest
                                </button>
                            </div>
                        </div>
                        <div class="clear"> </div>
                    </div>
                    <div class="col-md-3">
                        <div class="box-info-product">
                            <p class="price2">$@Model.giaPhong</p>
                            <a type="button" href="@Url.Action("IndexBooking","Booking", new { id = Model.maPhong })" name="Submit" class="exclusive">
                                <span>Booking</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="desc">
                    @*<h4>Description</h4>
                    <p><b>@Model.Describe</b></p>*@
                    
                </div>
                @*<div class="row">
                    <h4 class="m_11">Related Products in the same Category</h4>
                    <div class="col-md-4 product1">
                        <img src="~/assetdetail/images/s1.jpg" class="img-responsive" alt="" />
                        <div class="shop_desc">
                            <a href="single.html">
                            </a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
                            <p>Lorem ipsum consectetuer adipiscing </p>
                            <span class="reducedfrom">$66.00</span>
                            <span class="actual">$12.00</span><br>
                            <ul class="buttons">
                                <li class="cart"><a href="#">Add To Cart</a></li>
                                <li class="shop_btn"><a href="#">Read More</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 product1">
                        <img src="~/assetdetail/images/s2.jpg" class="img-responsive" alt="" />
                        <div class="shop_desc">
                            <a href="single.html">
                            </a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
                            <p>Lorem ipsum consectetuer adipiscing </p>
                            <span class="reducedfrom">$66.00</span>
                            <span class="actual">$12.00</span><br>
                            <ul class="buttons">
                                <li class="cart"><a href="#">Add To Cart</a></li>
                                <li class="shop_btn"><a href="#">Read More</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="~/assetdetail/images/s3.jpg" class="img-responsive" alt="" />
                        <div class="shop_desc">
                            <a href="single.html">
                            </a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
                            <p>Lorem ipsum consectetuer adipiscing </p>
                            <span class="reducedfrom">$66.00</span>
                            <span class="actual">$12.00</span><br>
                            <ul class="buttons">
                                <li class="cart"><a href="#">Add To Cart</a></li>
                                <li class="shop_btn"><a href="#">Read More</a></li>
                                <div class="clear"> </div>
                            </ul>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    
</body>
</html>
