﻿@model BookingHotel.ObjectView.viewroom
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<section class="section pb-4">
    <div class="container">

        <div class="row check-availabilty" id="next">
            <div class="block-32" data-aos="fade-up" data-aos-offset="-200" style="margin-bottom: 10px">
                @using (Html.BeginForm())
                {


                    <div class="row">

                        <input type="text" placeholder="search..." name="searchbox" class="form-control" style="width:50%">
                        <label style="padding-top:5px; margin-left:2%" class="font-weight-bold text-black">Room Types</label>
                        <select style="width:16%; margin-left:2%" name="searchcate" class="form-control">
                            <option></option>
                            @foreach (var item in Model.lstcateRoom)
                            {
                                <option value="@item.maLoai">@item.tenLoai</option>
                            }
                        </select>

                        <input type="submit" formaction="@Url.Action("Search","Room")" class="btn btn-danger" value="Search" style="width:16%; margin-left:2%" />
                    </div>
                }
            </div>

        </div>
    </div>
</section>

<section class="section">
    <div class="container">

        <div class="row">
            @foreach (var item in Model.lstRoom)
            {
                <div class="col-md-6 col-lg-4 mb-5" data-aos="fade-up">
                    <a href="@Url.Action("Detail",new {id= @item.maPhong})" class="room">
                        <figure class="img-wrap">
                            <img style="display:block; margin-left:auto;margin-right:auto " src="@Url.Content("~/images/"+ item.Image)" height="320" width="300" />
                            @*<img src=@item.Image alt="Free website template" class="img-fluid mb-3">*@
                        </figure>
                        <div class="p-3 text-center room-info">
                            <h2>@item.tenPhong</h2>
                            <span class="text-uppercase letter-spacing-1">$@item.giaPhong / per night</span>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>

@Html.Partial("_Top2", BookingHotel.Models.Top.Showtop.Top2())
@*<script src="/Asset/js/jquery-3.3.1.min.js"></script>
    <script src="/Asset/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/Asset/js/popper.min.js"></script>
    <script src="/Asset/js/bootstrap.min.js"></script>
    <script src="/Asset/js/owl.carousel.min.js"></script>
    <script src="/Asset/js/jquery.stellar.min.js"></script>
    <script src="/Asset/js/jquery.fancybox.min.js"></script>


    <script src="/Asset/js/aos.js"></script>

    <script src="/Asset/js/bootstrap-datepicker.js"></script>
    <script src="/Asset/js/jquery.timepicker.min.js"></script>

    <script src="/Asset/js/main.js"></script>*@

